/*
Creator:
Annica Alienus
anbj1001
anbj1001@student.miun.se*/

/*MEDIA BREAKPOINTS STAR*/
/* smallest screen*/
@media screen
and ( max-width: 480px) {
    #main-contact {
        background: red;
    }

    article #full-size-img {
        display: none;
    }

}

@media print {
    body * {
        visibility: visible;
    }

    header {
        visibility: hidden;
    }

    #booking-form .wrapper-input-booking-form * {
        visibility: visible;
        font-size: 14px;
        background: #08c43a;
    }

    .btn-form {
        visibility: hidden;
    }

    input {
        outline: none;
        border: none;
        box-shadow: none;
        font-size: 20px;
    }

    .right-aside-booking-seats * {
        visibility: hidden;
    }

    .left-aside-booking-user-input {
        align-content: center;
        /*margin-right: 25%;*/
        /*margin-left: 25%;*/
        float: left;
        height: 100%;
        width: 100%;

    }

    #booking-form label {
        font-size: 14px;
    }
}

/*Medium screen. overrides smallest screen if it hits 480px*/
@media screen
and ( min-width: 480px) {
    #main-contact {
        background: blue;
    }
}

/*Largest screen. overrides medium screen if it hits 1024px*/
@media screen
and ( min-width: 1024px) {
    #main-contact {
        background: green;
    }
}

/*MEDIA BREAKPOINTS END*/

/*Not sure if needed*/
html, body {
    margin: 0;

}

/*Wrapper for body to avoid set values on body since you can't put width on body
Reference: https://www.techonthenet.com/html/elements/body_tag.php*/
.body-wrapper {

    /*set size for page*/
    min-height: 100vh; /*Set height as minimum of viewport*/
    max-width: 600px;
    margin: 0 auto;

    /*declare background for page*/
    /*image*/
    /*background-image: url("../img/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background.jpg");*/

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Content wrapper <div> is a container to be able to set the footer on the bottom of page
Reference: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/
#content-wrapper {
    padding-bottom: 20px; /*Set to size of the main-footer*/
    min-height: 890px;
    /*background: greenyellow;*/
    height: 100%;


}

/*section for things to come*/
.main-content {
    padding-bottom: 2.5rem;
    text-align: center;
    margin: auto;
    position: relative;
    min-height: 400px;
    height: 100%;
    width: 90%;
    /*background: rebeccapurple;*/
}

/* FOOTER CSS START*/
/*Reference on setting footer position on bottom of page: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/

/*height uses rem because it didn't work with px.*/
#main-footer {
    border-top: 2px solid grey;
    height: 2.5rem;
    width: 100%;

    font-size: 10px;

    position: absolute;
    bottom: 0;
    padding-bottom: 0.8%;
}

#main-footer p {
    padding-left: 3%;
}

#main-footer address {
    padding-left: 3%;
}

/* FOOTER CSS END*/

/*NAVBAR CSS START*/

/*the ul-list inside the <nav> element containing logo and navigation links*/
#nav-bar-list {
    list-style: none;
    margin: 0;
}

/*Set the size of the logo*/
#label-logo {

    height: 10%;
    width: 10%;
}

/*TODO Add suiting */
#top-nav-bar {
    border-bottom: 1pt solid black;
    background-color: darkgray;
    height: 50px;
}

#choose-text-wrapper {
    text-align: center;

}

#choose-text select {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 7px;
    font-size: 15px;
}

#header-titel {
    font-size: 25px;
    color: black;
}