/* normalize sort of */
@font-face {
    font-family: Odibee Sans, cursive;
    src: url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');
}

@font-face {
    font-family: Sriracha, cursive;
    src: url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
}

@keyframes animate-logo {
    from {
        height: 10%;
        width: 10%;
    }

    /*from {*/
    /*    height: 20%;*/
    /*    width: 20%;*/
    /*}*/
    to {
        height: 20%;
        width: 20%;
    }
}

body {
    margin: 0;
    padding: 0;
}

body,
* {
    box-sizing: border-box;
}


input,
textarea,
select {
    outline: none;
    border: 1px solid #eee;
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #f00;
}

fieldset {
    border: none;
    padding: 0;
}

#page-container {
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;

    position: relative;
    background-color: #eee;

}

#content-wrap {
    min-height: 600px;
}

.wrapper {
    max-width: 600px;
    padding: 20px 4rem 20px 20px;
    margin: 0 auto;
    /*background-color: #eee;*/

}

.wrapper header {
    text-align: center;
    padding: 0 0 30px 0;
}

#label {
    font-family: Sriracha, cursive;
    color: saddlebrown;
}

/*Set the size of the logo*/
#label-logo {
    /*max-height: 100px;*/
    /*max-width: 100px;*/
    animation-name: animate-logo;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    height: 10%;
    width: 10%;
}

.wrapper div.section.settings form {
    display: flex;
    flex-wrap: wrap;
}

.wrapper div.section.settings form div.group {
    width: 50%;
}

.wrapper div.section.settings form div.group.ignore-case {
    visibility: hidden; /* hidden in UI since it's not implemented */
    order: 1;
}

.wrapper div.section.settings form div.group.choose-language {
    visibility: hidden; /* hidden in UI since it's not implemented */
    order: 3;
}

.wrapper div.section.settings form div.group.choose-text {
    order: 2;
    text-align: center;
    font-family: Odibee Sans, cursive;
}

.wrapper div.section.settings form div.group.choose-text select#text-type {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}

.wrapper div.section.text-content {
    border: 2px solid #f00;
    border-radius: 10px;
    padding: 20px;
    margin: 30px 0;
    min-height: 200px;
}

.wrapper div.section.text-content p {
    margin: 0;
    padding: 0;
}

.wrapper div.section.text-content p h3 {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.wrapper div.section.text-content p.text-content-author {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.wrapper div.section.text-content p span.done {
    color: green;
    /*background: green;*/
}

.wrapper div.section.text-content p span.fail {
    color: #f00;
}

.wrapper .section.type-here form {
    display: flex;
    flex-wrap: nowrap;
}

.wrapper .section.type-here form input {
    align-self: center;
    margin: 0 auto;

    width: 150px;
    padding: 10px 20px;
    text-align: center;
    outline: none;
}

#content-wrap .wrapper #type-here .wrapper-game-buttons {
    margin: 0 auto;
    height: 50px;
    width: 50px;
    display: block;

}

#content-wrap .wrapper #type-here .wrapper-game-buttons #game-button {
    border-radius: 0.5em;
    height: 40px;
    width: 40px;
    padding: 0;
    display: block;
}

#content-wrap .wrapper #type-here #statistics {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}

#content-wrap .wrapper #type-here #statistics > div {
    display: flex;
    background: lightgoldenrodyellow;

    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    border: 1px solid grey;
}

#content-wrap .wrapper #type-here #statistics > div > p {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 2px;
    margin: 0 auto;
    border: 1px solid lightgrey;
}

#content-wrap .wrapper #type-here #statistics > section > p:nth-child(1) {
    flex-basis: 80%;
    border: 1px solid #a9a9a9;
}

#content-wrap .wrapper #type-here #statistics > section > p:nth-child(2) {
    flex-basis: 20%;
    text-align: right;
    border: 1px solid #a9a9a9;
}

.active {
    background: grey;
    backdrop-filter: opacity(20%);
}

/*Footer*/
#content-wrap {
    padding-bottom: 55px;
}

#page-container #main-footer {
    height: 55px;
    border-top: 2px solid grey;
    width: 100%;

    font-size: 10px;

    position: absolute;
    bottom: 0;
    padding: 10px 0 0.8% 3%;
    align-content: center;

}

#page-container #main-footer > p {
    margin: 0;
    padding: 0 0 15px 0;
}
